{% assign assets_dir = site.url | append: site.baseurl | append: "/assets" %}

<div style="float: right;">
  <div class="amazon-ad">
    <a target="_blank" href="https://amzn.to/2EDwybA">
      <img border="1" src="{{assets_dir}}/kotin-book-amazon.jpg" style="border-color: #999;border-width: 1px;">
    </a>
    <img src="//ir-na.amazon-adsystem.com/e/ir?t=kotlinblog-20&l=am2&o=1&a=1617293296" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
  </div>
</div>
