---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$social-icon-size: 30px;
$social-icon-color: #666666;

$social-icon-between: $spacing-unit / 3;

$share-icon-color: #666;
$share-icon-color-hover: #000;

$sb-threshold-min: 1050px;
$sb-threshold-max: $sb-threshold-min - 1px;

$code-bg: #f3f6fa;

$paragraph-font-size: 21px;
$paragraph-code-font-size: 18px;
$paragraph-line-height: 1.57;
$paragraph-font-family: body-font-serif, Georgia, Cambria, "Times New Roman", Times, serif;
$body-text-color: rgba(0,0,0,.70);

p, h1, h2, h3, h4, h5, h6 {
  color: $body-text-color;
}

p {
  font: $base-font-weight #{$paragraph-font-size}/#{$paragraph-line-height} $paragraph-font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p code {
  font-size: $paragraph-code-font-size;
  line-height: $paragraph-line-height;
  border: 0px !important;
}

/**
 * Grid helpers
 */
.one-half {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width: calc(50% - (#{$spacing-unit} / 2));
}

.social-media-list-my {
  display: table;
  position: relative;
  margin: 0 auto;
  list-style: none;
  top: -$spacing-unit / 8;
  li {
    float: left;
    a {
      margin: 0 4px;
      padding-left: $social-icon-between;
      padding-right: $social-icon-between;
      border: 0 solid $grey-color-light
    }
    &:hover .svg-icon {
      fill: $brand-color;
    }
  }
  .svg-icon {
    width: $social-icon-size;
    height: $social-icon-size;
    fill: $social-icon-color;
  }
}

.svg-icon-header {
  width: $social-icon-size * 0.9;
  height: $social-icon-size * 0.9;
  fill: $social-icon-color;
}

.svg-icon-header:hover {
  fill: $brand-color;
}

ul.share-buttons {
  padding: 0;
  margin-bottom: 0;
}

ul.share-buttons li {
  list-style-type: none;
  a {
    text-decoration: none;
    i {
      display: inline-block;
    }
  }
}

@media (min-width: $sb-threshold-min) {
  ul.share-buttons li {
    display: block;
    margin: 14px 0;
  }
}

@media (max-width: $sb-threshold-max) {
  ul.share-buttons li {
    display: inline-block;
    margin: 0 18px 0 0;
  }
  ul.share-buttons {
    margin-left: auto;
    margin-right: auto;
    display: table;
  }
}

.sb-button {
  border-radius: 50%;
  border: 1px solid $share-icon-color;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
}

@media (min-width: $sb-threshold-min) {
  .sb-button {
    display: block;
  }
}

@media (max-width: $sb-threshold-max) {
  .sb-button {
    display: inline-block;
  }
}

.sb-button:hover {
  border: 1px solid $share-icon-color-hover;
  .share-icon {
    color: $share-icon-color-hover;
  }
}

@media (min-width: $sb-threshold-min) {
  .animation-hide-share-buttons {
    transition: all 0.3s;
    opacity: 0;
  }
}

@media (max-width: $sb-threshold-max) {
  .animation-hide-share-buttons {
    opacity: 1;
  }
}

.animation-show-share-buttons {
  transition: all 0.3s;
  opacity: 1;
}

.share-icon {
  color: $share-icon-color;
  margin: 0 auto;
}

.page-link-icon {
  height: 40px;
  width: 40px;
  float: right;
  text-align: end;
}

.page-link-link {
  line-height: 40px;
  text-decoration: none !important;

  .flaticon-twitter-social-outlined-logo {
    font-size: 23px;
    color: #111;
    vertical-align: middle;
  }
}

.page-link-link:hover {
  .flaticon-twitter-social-outlined-logo {
    color: #000;
  }
}

.flaticon-twitter-social-outlined-logo {
  margin-left: 2px;
  margin-top: 1px;
}

.flaticon-facebook-logo-outline {
  margin-top: 1px;
  margin-left: -2px;
}

.flaticon-google-plus {
  margin-top: 1px;
  margin-left: 3px;
}

.flaticon-social-media {
  margin-left: 1px;
  margin-top: 1px;
}

.flaticon-note {
  margin-left: 0;
  margin-top: 1px;
}

.flaticon-google-plus-outlined-logo-social-symbol {
  margin-left: 3px;
}

.flaticon-google-plus-1 {
  font-size: 24px;
  margin-left: 1px;
}

.flaticon-linkedin-social-outline-logotype {
  margin-left: 2px;
  margin-top: -2px;
}

.google-plus-svg {
  width: 24px;
  margin-left: 3px;
  margin-top: -1px;
}

.share-buttons-container-bottom {
  z-index: 99;
}

@media (min-width: $sb-threshold-min) {
  .share-buttons-container-bottom {
    top: 150px;
    position: fixed !important;
    float: left;
    margin-left: -180px;
    display: block;
  }
}

@media (max-width: $sb-threshold-max) {
  .share-buttons-container-bottom {
    top: 0;
    position: relative;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;

    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border: 1px #ddd;
    border-top-style: solid;
    border-bottom-style: solid;
  }
}

.highlight {
  .err {
    color: #111;
    background-color: #eef
  }
}

.author-photo {
  height: 50px;
  width: 50px;
  float: left;
  margin: 3px 12px;
  border-radius: 50%;
}

.author-photo-big {
  height: 200px;
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.highlighter-rouge .highlight {
    background: $code-bg;
}

pre,
code {
  background-color: $code-bg;
  border: solid 1px #dce6f0;
  border-radius: 0;
}
