---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$social-icon-size: 38px;

/**
 * Grid helpers
 */
.one-half {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
}

.social-media-list-my {
  display: table;
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  top: -$spacing-unit / 3;
  li {
    float: left;
    a {
      display: block;
      display: flex;
      margin: 0 4px;
      padding: $spacing-unit / 4;
      border: 0px solid $grey-color-light
    }
    &:hover .svg-icon { fill: $brand-color; }
  }
  .svg-icon {
    width: $social-icon-size;
    height: $social-icon-size;
    fill: $grey-color;
  }
}

// Simple share buttons

ul.share-buttons{
  padding: 0;
}

ul.share-buttons li{
  display: inline;
  margin-right: 8px;
  a {
    text-decoration: none;
    i {
      display: inline-block;
      vertical-align: bottom;
    }
  }
}

.sb-button {
  display: inline;
  background: black;
  padding-top: 17px;
  padding-left: 6px;
  padding-right: 4px;
  padding-bottom: 4px;
}

.sb-icon-text {
  display: inline-block;
  vertical-align: bottom;
  color: white;
  font-size: 18px;
  margin-left: 8px;
}

.fa {
  color: white;
}

.sb-button-twitter {
  background: #5BC2F0;
}

.sb-button-facebook {
  background: #435D96;
}

.sb-button-google-plus {
  background: #E93F2E;
}

.sb-button-email {
  background: #0A88FF;
}

.share-buttons-container {
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    padding-top: 20px;
    padding-bottom: 8px;
}

// ul.share-buttons .sr-only{
//   position: absolute;
//   clip: rect(1px 1px 1px 1px);
//   clip: rect(1px, 1px, 1px, 1px);
//   padding: 0;
//   border: 0;
//   height: 1px;
//   width: 1px;
//   overflow: hidden;
// }

// .fa-twitter-square {
//   color: #5BC2F0;
// }
//
// .fa-facebook-square {
//   color: #435D96;
// }
//
// .fa-google-plus-square {
//   color: #E93F2E;
// }
//
// .fa-envelope-square {
//   color: #0A88FF;
// }
